* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: '#22c55e';
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(34, 197, 94);
  }
  
  .form {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-top: 30px;
  }
  
  .form .form__custom-button {
    margin-top: 50px;
  }
  